.add {
  position: fixed;

  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: none;
  overflow: hidden;
  z-index: 0;
}
.add__content {
  display: flex;
  justify-content: start;
  width: 330px;
  min-height: 20px;
}

.add__text {
  width: 330px;
  border: 1px solid transparent;

  border-bottom: 1px solid rgb(127, 124, 124);
  padding: 10px;

  margin-top: 10px;
}

.add__text:focus {
  border: 3px solid rgb(52, 164, 255);
  outline: none;
}

.add__text-input-error {
  color: red;
}

.add__input__type_error {
  width: 330px;
  border: 1px solid transparent;
  border-bottom: 2px solid red;
}

/*.add__profesion {
  width: 330px;
  border: none;

  border-bottom: 1px solid rgb(127, 124, 124);
}
  */

.add__container {
  border-radius: 5%;
  width: 430px;
  height: 280px;

  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.add__close {
  font-size: 40px;

  color: rgb(255, 255, 255);
  position: absolute;
  top: -30px;
  right: -30px;
  font-family: "Courier New", Courier, monospace;
  font-family: "Exterior";
  cursor: pointer;
}

.add__save {
  background-color: black;
  color: white;

  cursor: pointer;
  min-width: 350px;
  padding: 13px;
  margin-top: 25px;
}

.add__submit_disabled {
  background-color: rgb(121, 117, 117);
}

@media screen and (min-width: 320px) and (max-width: 800px) {
  .add__container {
    margin-top: -200px;
    width: 282px;
    height: 322px;

    top: 300px;
    left: 50%;
    transform: translateX(-50%);
  }

  .add__save {
    min-width: 150px;
  }

  .add__text {
    max-width: 150px;
  }

  .add__close {
    font-size: 26px;

    right: 10px;
  }

  .add__content {
    width: 170px;
    font-size: 12px;
  }
}
