.contentImage {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;

  transition: visibility 0s, opacity 0.4s;
  z-index: 10;
  color: white;
}

.content__visible {
  visibility: visible;
  opacity: 1;
}

.contentImage__image {
  position: relative;
}

.contentImage__target-image {
  width: 500px;
  height: 500px;

  z-index: 1;

  position: relative;
}

.contentImage__close {
  font-size: 40px;
  position: absolute;
  top: -40px;
  right: -20px;
  font-weight: bold;
  cursor: pointer;
  z-index: 1;
}
.contentImage__text {
  position: absolute;
  bottom: -20px;
  left: -3px;
  font-size: 17px;

  font-size: 20px;
}

@media screen and (min-width: 320px) and (max-width: 555px) {
  .contentImage__target-image {
    width: 300px;
    height: 300px;
  }

  .contentImage__close {
    left: 300px;
    top: -30px;
    font-size: 30px;
  }

  .contentImage__text {
    top: 300px;
    right: 10px;
    font-size: 15px;
  }
}
