.content {
  display: flex;
  justify-content: center;
}

.contentImage {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(122, 57, 57, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;

  transition: visibility 0s, opacity 0.6s;
  z-index: 10;
}

.content__visible {
  visibility: visible;
  opacity: 1;
}

.content__element {
  margin-top: 46px;
  max-width: 890px;
  max-height: 100%;

  display: flex;
  justify-content: center;
  overflow: hidden;

  flex-wrap: wrap;
  gap: 17px;
  flex-grow: 1;
  flex-shrink: 2;
}

.content__target-image {
  width: 100%;
  height: 70%;
}

.content__target {
  width: 282px;
  height: 382px;
  border: 1px solid black;

  /* Evita que el texto se rompa en varias líneas */
  text-overflow: ellipsis;
  border-radius: 5%;
  color: rgb(20, 17, 17);
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  background-color: white;
  font-family: "Exterior";
  transition-property: background-color;
  transition-duration: 1s;
  transition-timing-function: ease-in;
  overflow: hidden;
}

.content__target:hover {
  color: white;
  background-color: rgb(43, 189, 226);
}

.content__text {
  font-size: 24px;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__image-delete {
  width: 30px;
  height: 30px;

  position: absolute;
  right: 12px;
  top: 8px;
  cursor: pointer;
  z-index: 1;

  fill: rgb(138, 21, 233);
}

.content__image-delete:hover {
  fill: red;
}

.content__capa {
  border: 1px solid blac;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 246px;

  display: flex;

  justify-content: space-between;
  align-items: center;
}

.content__corazon {
  width: 20px;
  height: 20px;

  fill: white;
  stroke: rgb(0, 0, 0);
  stroke-width: 8;
  cursor: pointer;
}

.content__corazon:hover {
  stroke: gray;
  transform: scale(1.4);
}
