.footer {
  display: flex;

  justify-content: center;
}

.footer__content {
  max-width: 880px;
  padding-bottom: 50px;
  padding-top: 50px;
  flex-grow: 1;
  flex-shrink: 2;

  display: flex;
  justify-content: start;
  align-items: center;
}

.footer__text {
  color: #545454;
  font-size: 18px;
}

@media screen and (min-width: 320px) and (max-width: 800px) {
  .footer__content {
    min-width: 282px;

    min-height: 100px;
  }
}
