.popup > * {
  margin: 0%;
  padding: 0%;
}

.popup {
  position: fixed;

  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}

.popup__container > * {
  border-radius: 5%;
  width: 430px;
  height: 330px;

  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  top: 250px;
  left: 35%;
}

.popup__text {
  width: 330px;
  height: 27.34px;

  border: none;

  border-bottom: 1px solid rgb(175, 169, 169);
}

.popup__close {
  font-size: 40px;

  color: rgb(255, 255, 255);
  position: absolute;
  top: -40px;
  right: -30px;
  font-family: "Courier New", Courier, monospace;
  font-family: "Exterior";
  cursor: pointer;
}

.popup__save {
  color: white;
  background-color: black;
  width: 330px;
  height: 50px;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 800px) {
  .popup__container > * {
    margin-top: -200px;
    width: 282px;
    height: 322px;

    display: flex;

    align-items: center;
    left: 50%;
    transform: translateX(-50%);
  }

  .popup__save {
    width: 238px;
  }

  .popup__text {
    max-width: 238px;
  }

  .popup__close {
    font-size: 26px;

    right: 10px;
  }
}
